<div class="row">
    <div class="pb-3 bg-dark-1 txt-light-1 sticky-top">
        <div class="col-sm-12">
            {% if session['page'] == 'dashboard' %}
            <h1>{{user.full_name}}</h1>
            {% else %}
            <h1>{{session['page']}}</h1>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <ul class="ul-menu d-flex justify-content-between align-items-center">
                {% if not session['page'] == 'my profile' %}
                <li>
                    <a href="/profile">Profile</a>
                </li>
                {% endif %}
                <li>
                    <a href="/logout" class="btn btn-danger">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>