{% extends 'components/base.html' %}
{% block content %}
{% include 'components/navbar.html' %}
<div class="row justify-content-center m-3">
    <div class="box app-box">
        <a href="/blogs">
            <h3>Blog</h3>
        </a>
    </div>
    <div class="box app-box">
        <a href="/to_do">
            <h3>To do</h3>
        </a>
    </div>
    <div class="box app-box">
        <a href="/to_do">
            <h3>Pantry</h3>
        </a>
    </div>
    <div class="box app-box">
        <a href="/to_do">
            <h3>Calendar</h3>
        </a>
    </div>
    <div class="box app-box">
        <a href="/to_do">
            <h3>Habits</h3>
        </a>
    </div>
    <div class="box app-box">
        <a href="/to_do">
            <h3>Trip Planning</h3>
        </a>
    </div>
    <div class="box app-box">
        <a href="/to_do">
            <h3>REFIT</h3>
        </a>
    </div>
</div>
{% endblock %}