{% extends 'components/base.html' %}
{% block content %}
{% include 'components/navbar.html' %}

{% set family = user.get_family %}
{% if family %}

{% set all_cat = user.get_family.get_all_categories() %}
{% if all_cat != False %}
{% for cat in all_cat %}
<h2>{{cat.name}}</h2>
<div class="post-container">
    {% for post in cat.get_all_posts() %}
    <div class="post-box">
        <h3>{{post.title}}</h3>
        <p>{{post.content|truncate(50)}}</p>
        <p><a href="/post/{{post.id}}">Read More...</a></p>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endif %}
{% endif %}
{% endblock %}