html,
body {
  height: 100%;
}

.post-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0;
  padding: 0.5em;
  height: 150px;
}

.post-area {
  min-height: 94vh;
  overflow-x: auto;
}
